.Button button {
  color: #fff;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  margin: 0 0 0 100px;
  padding: 20px 60px;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #95a5a6;

  &:hover {
    background-color: #2ecc71;
  }
}
